.et-about-page {
	display: flex;
	flex-direction: column;

	flex: 1 1 auto;
	position: relative;
	justify-content: center;

	height: 100%;
	overflow: hidden;
}
.et-about__image {
	flex: 0 0 auto;
    border-radius: 15px;
    filter: blur(10px);

    width: 100%;
}
.et-about__container {
	top: 0;
	left: 0;
	position: absolute;

	width: 50%;
	max-width: 400px;
	padding: 20px;

	z-index: 2;
}
.bg-blur, 
.bg-unblur {
	width: 400px;
	height: 400px;
	overflow: hidden;
	border-radius: 50%;
	display: block;
}
.bg-blur {
	position: absolute;

	top: 200px;
	right: 200px;
}
.bg-unblur {
	background-image: url('../../public/images/galleryPhoto.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;

	filter: blur(0px);
	position: relative;
	z-index: 2;

	box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,.3);
    background-size: 74%;
    background-position: 294px 80px;
}
.et-about__description {
	flex: 1 1 auto;
	margin: 0;

	color: white;
	font-size: 1.5rem;
    text-indent: 1.5rem;
}