.et-about-page {
	display: flex;
	flex-direction: column;

	flex: 1 1 auto;
	position: relative;
	justify-content: center;

	height: 100%;
}
.et-about__image {
	flex: 0 0 auto;
    border-radius: 15px;

    width: 100%;
    max-width: 860px;
}
.et-about__container {
	top: 0;
	left: 0;

	width: 50%;
	max-width: 400px;
	padding: 20px;

	z-index: 2;
}
.et-about__container-bg {
	background: rgba(0, 0, 0, 0.5);
	filter: blur(10px);

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;

	width: 100%;
	border-radius: 30px;
	z-index: 1;
}
.bg-blur {
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: absolute;
	border-radius: 50%;
}
.bg-blur-mask {
	overflow: hidden;
	filter: blur(0px);
	background-image: url('../../public/images/galleryPhoto.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size:100%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
}
.et-about__description {
	flex: 1 1 auto;
	margin: 0;

	color: white;
	font-size: 1.5rem;
    text-indent: 1.5rem;
}