/* grow from background */
.animation-grow-from-bg {
    opacity: 0;

    animation-name: grow-from-bg;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}
@keyframes grow-from-bg {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.animation-grow-from-bg:nth-child(1) {
    animation-delay: 200ms;
}
.animation-grow-from-bg:nth-child(2) {
    animation-delay: 400ms;
}
.animation-grow-from-bg:nth-child(3) {
    animation-delay: 600ms;
}
.animation-grow-from-bg:nth-child(4) {
    animation-delay: 800ms;
}
/* sliding */
@keyframes vertical-background-slide-in {
    0% { 
        transform: scaleY(0);
    }
    100% { 
        transform: scaleY(1);
    }
}
@keyframes horizontal-background-slide-in {
    0% { 
        transform: scaleX(0);
    }
    100% { 
        transform: scaleX(1);
    }
}

/* border color top-left to bottom-right from codepen https://codepen.io/giana/pen/yYBpVY */
.mod-border-color-change {
    position: relative;
}
.mod-border-color-change:before,
.mod-border-color-change:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
}
.mod-border-color-change:not(.mod-active):before,
.mod-border-color-change:not(.mod-active):after {
    border-color: transparent;
    z-index: 0;
}
.mod-border-color-change:before {
    top: 0;
    left: 0;
    transition:
        width 0.25s ease-out,
        height 0.25s ease-out 0.25s,
        border-color 0.25s;
}
.mod-border-color-change:after {
    top: 0;
    left: 0;
    transition:
        height 0.25s ease-out,
        width 0.25s ease-out 0.25s,
        border-color 0.25s;
}

.mod-border-color-change.mod-active:before,
.mod-border-color-change.mod-active:after {
    z-index: 2;
    width: 100%;
    height: 100%;
}

.mod-border-color-change.type-default-to-projects.mod-active:before {
    border-top-color: #2b9a3f;
    border-right-color: #2b9a3f;
    
}

.mod-border-color-change.type-default-to-projects.mod-active:after {
    border-bottom-color: #2b9a3f;
    border-left-color: #2b9a3f;
    
}