.et-color-stripe {
    color: #D98C77;
}
/* phone */
@media screen and (min-width : 0) and (max-width: 760px) {
    .et-color-stripe:before,
    .et-color-stripe:after {
        width: 150px;
    }
}
/* tablet */
@media screen and (min-width: 760px) and (max-width: 1220px) {
    .et-color-stripe {
        color: red;
    }
    .et-color-stripe:before,
    .et-color-stripe:after {
        width: 100%;
    }
}
/* desktop */
@media screen and (min-width: 1220px) {
    .et-color-stripe:before,
    .et-color-stripe:after {
        width: 100%;
    }
}
.et-color-stripe.mod-primary {
	z-index: 2;
}
.et-color-stripe.disabled {
}
.et-color-stripe:not(.disabled):before {
    content: '';
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.et-color-stripe:not(.disabled):after {
	content: '';
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

	z-index: -1;
    animation: vertical-background-slide-in 1200ms;
    animation-delay: 0s;
    animation-fill-mode: forwards;

    transform: scaleY(0);
    transform-origin: 50% 0;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.et-color-stripe:not(.disabled).generic-bg:after {
    background-color: #5073ad;
}
.et-color-stripe:not(.disabled).projects-bg:after {
	background-color: #A262A6;
}
.et-color-stripe:not(.disabled).games-bg:after {
	background-color: #D98C77;
}
.et-color-stripe:not(.disabled).about-bg:after {
	background-color: #e2be51;
}

.et-color-stripe:not(.disabled).previous-projects-bg:before {
	background-color: #A262A6;
}
.et-color-stripe:not(.disabled).previous-games-bg:before {
	background-color: #D98C77;
}
.et-color-stripe:not(.disabled).previous-about-bg:before {
	background-color: #e2be51;
}