.pop-in-enter,
.pop-in-appear {
	transform: scale(0);
}
.pop-in-enter.pop-in-enter-active,
.pop-in-appear.pop-in-appear-active {
	transform: scale(1);
	transition: transform 1000ms;
}

.pop-in-leave {
	transform: scale(1);
}
.pop-in-leave.pop-in-leave-active {
	transform: scale(0);
	transition: transform 300ms;
}