.floating-button-component {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	flex: 0 0 auto;
	height: 4rem;
	box-sizing: border-box;

	background: transparent;
	color: white;

	font-family: arial, sans-serif;
	font-size: 2rem;
}
.floating-button-component:hover{
	color: gray;
	background: white;
}
.floating-button-component.active {
	border-bottom: 5px solid white;
}

.floating-button-component ~ .floating-button-component {
	margin-left: 1rem;
}

.floating-button-component:nth-child(even) {
	margin-top: 1rem;
}