.floating-button-component {
	height: 200px;
	width: 200px;
	
	border: 2px solid white;
	background: white;
	border-radius: 50%;

	color: #5073ad;
	flex: 0 0 auto;
	font-family: arial, sans-serif;
	// font-weight: bold;
	cursor: pointer;

	transition: transform 100ms;
}
.floating-button-component:hover,
.floating-button-component:focus {
	outline: 0;
	border-color: #375079;
	transform: scale(1.2);
}
/* horizontal */
.style__splash-page .floating-button-component {
	/* size, and animation should be variable */
	height: 200px;
	width: 200px;

	font-size: 2rem;
}
.style__splash-page .floating-button-component ~ .floating-button-component,
.style__splash-page .floating-button-container ~ .floating-button-container {
	margin-left: 2rem;
}

/* vertical */
.style__inner-page .floating-button-component {
	height: 100px;
	width: 100px;

	font-size: 1.5rem;
}
.style__inner-page .floating-button-component ~ .floating-button-component,
.style__inner-page .floating-button-container ~ .floating-button-container {
	margin-top: 1rem;
}