.et-floating-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.relative-container {
	position: relative;
	display: block;
}
/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {
	.et-floating-container.mod-vertically-centered {
	}
}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {
	.et-floating-container.mod-vertically-centered {
	   transform: translateY(50%);
	}
}
/* desktop */
@media screen and (min-width : 1220px) {
	.et-floating-container.mod-vertically-centered {
	   transform: translateY(50%);
	}
}
