.et-header {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    min-height: 1px;
    height: auto;

    pointer-events: none;

	padding: 1rem;
	color: white;
    overflow: hidden; /* just a hack to avoid the large highlighting box of the font */
}
/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {

}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {
    .title {
        font-size: 5rem;
        font-size: 20vw;
    }
}
/* desktop */
@media screen and (min-width : 1220px) {
    .title {
        font-size: 16rem;
    }
}

.title {
    line-height: 90%;
    font-family: 'Bungee', cursive;
}
.subtitle {
    font-size: 4rem;
}

/* footer */
.et-footer {
    min-height: 1px;
    height: auto;

    color: #aaa;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 15px;

    border-top: 1px solid #aaa;
    padding: 1rem 0;
}
.et-footer a.href-link {
    color: #aaa;
}
.et-footer a.href-link:visited {
    color: #504d4d;
}