.et-header {
	text-align: center;
	padding: 1rem;
	color: white;
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
}
/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {
    .et-header {
        height: 180px;
    }
}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {

}
/* desktop */
@media screen and (min-width : 1220px) {

}
.et-header:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #5073ad;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
    animation: horizontal-background-slide-in 1000ms;
    animation-delay: 100ms;
    animation-fill-mode: forwards;

    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.title {
    font-size: 4rem;
}
.subtitle {
    font-size: 2rem;
}

/* footer */
.et-footer {
    color: #aaa;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 15px;

    border-top: 1px solid #aaa;
    padding: 1rem 0;
}
.et-footer a.href-link {
    color: #aaa;
}
.et-footer a.href-link:visited {
    color: #504d4d;
}