.home-component {
	display: flex;
	position: relative;
	height: 100%;
	overflow: hidden;
}
.center-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	color: white;
	font-size: 2rem;
	font-family: arial, sans-serif;
}
