.et-main {
	display: flex;
	position: relative;
	height: 100%;
	overflow: hidden;
}
.center-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: 75%;
	height: 75%;

	display: flex;
}

.projects-page.inactive {
	display: none;
}

.style__splash-page .center-container {
	flex-direction: column;
}
.style__inner-page .center-container {
	flex-direction: row;
}