.et-main {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	height: 100%;
	overflow: hidden;
}
.title {
	font-size: 4rem;
}
.subtitle {
	font-size: 2rem
}
.header-container {
	flex: 0 0 auto;
    padding: 2rem;
    max-width: 720px;

    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
	font-family: 'Convergence', sans-serif;
}
.center-container {
	flex: 1 1 auto;
	height: 100%;
	padding: 2rem;
    max-width: 720px;

	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: flex-start;
	overflow: hidden;
}
.projects-page.inactive {
	display: none;
}