.et-nav-button.mod-splash {
	width: auto;
	margin-right: auto;
}
/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {
	
}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {
	
}
/* desktop */
@media screen and (min-width : 1220px) {
	.et-nav-button.mod-splash:not(:hover) {
	}
}
/* on hover */
.et-nav-button__content {
	transform: translateX(5px);
	transition: transform 300ms ease-out;
}
.et-nav-button.mod-splash:hover .et-nav-button__content {
	transform: translateX(25px);
}
.et-nav-button.mod-splash .et-nav-button__effects:before {
	content: "";
	position: absolute;
	bottom: 12px;
	left: 0px;

	width: 25px;
	height: 2rem;

	transform-origin: 0% 0%;
	transform: scaleX(0);
	transition: transform 300ms ease-out;

	background-color: white;
}
.et-nav-button.mod-splash:hover .et-nav-button__effects:before {
	transform: scaleX(1);
}
.projects-color.et-nav-button.mod-splash .et-nav-button__effects:before {
	background-color: #A262A6;
}
.games-color.et-nav-button.mod-splash .et-nav-button__effects:before {
	background-color: #D98C77;
}
.about-color.et-nav-button.mod-splash .et-nav-button__effects:before {
	background-color: #e2be51;
}