.nav-button-component {
	height: 200px;
	width: 200px;
	
	border: 2px solid white;
	background: white;
	border-radius: 50%;

	color: #5073ad;
	flex: 0 0 auto;
	font-family: arial, sans-serif;
	cursor: pointer;

	transition: transform 100ms;
}
.floating-button-container {
	margin: 50px;
}
/* generic coloring */
.nav-button-component:hover,
.nav-button-component:focus {
	outline: 0;
	border-color: #375079;
	transform: scale(1.2);
	// box-shadow: 0px 0px 40px green;
}
/* specific coloring */
.nav-button-component.projects-color:hover,
.nav-button-component.projects-color.active {
	color: #2b9a3f;
	border-color: #2b9a3f;
}
.nav-button-component.games-color:hover,
.nav-button-component.games-color.active {
	color: orange;
	border-color: orange;
}
.nav-button-component.about-color:hover,
.nav-button-component.about-color.active {
	color: #db7ee4;
	border-color: #db7ee4;
}

/* delays */
.floating-button-container:nth-child(1) .pop-in-enter.pop-in-enter-active,
.floating-button-container:nth-child(1) .pop-in-appear.pop-in-appear-active {
	transition-delay: 200ms;
}
.floating-button-container:nth-child(2) .pop-in-enter.pop-in-enter-active,
.floating-button-container:nth-child(2) .pop-in-appear.pop-in-appear-active {
	transition-delay: 400ms;
}

.floating-button-container:nth-child(3) .pop-in-enter.pop-in-enter-active,
.floating-button-container:nth-child(3) .pop-in-appear.pop-in-appear-active {
	transition-delay: 600ms;
}

.floating-button-container:nth-child(4) .pop-in-enter.pop-in-enter-active,
.floating-button-container:nth-child(4) .pop-in-appear.pop-in-appear-active {
	transition-delay: 800ms;
}
