.et-nav-button.mod-splash {
	border-bottom: 3px solid;
	transition: border 700ms;
}
/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {
	
}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {
	
}
/* desktop */
@media screen and (min-width : 1220px) {
	.et-nav-button.mod-splash:not(:hover) {
		border-bottom: 3px solid transparent;
	}
}