.et-navigation {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	transition: transform 750ms;
	z-index: 5;
	box-sizing: border-box;
}
.et-navigation .nav-title {
	color: white;
	font-size: 2rem;
	text-align: center;
	padding: 0 2rem;
	display: block;

	transition: all 300ms;
}
/* vertical */
.et-navigation.mod-vertical {
	flex-direction: column;
	align-items: center;
	position: relative;
}
.et-navigation.mod-vertical .nav-title + .et-nav-button {
	margin-top: 2rem;
}
.et-navigation.mod-vertical .et-nav-button + .et-nav-button {
	margin-top: 1rem;
}
/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {
	.et-navigation {
		height: 200px;
	    justify-content: flex-start;
	}
	.et-navigation.mod-vertical.nav-open {
		transform: translateX(0);
	}
	.et-navigation.mod-vertical.nav-closed {
		transform: translateX(-95%);
	}
	.et-navigation:not(.mod-vertical) {
		align-items: center;
		flex-direction: column;
	}
	.et-navigation:not(.mod-vertical) .et-nav-button ~ .et-nav-button {
		margin-top: 1.3rem;
	}
	.et-navigation.mod-vertical {
		position: absolute;
		left: 0;
		top: 0;
		width: 150px;
	    justify-content: flex-start;
    	padding: 90px 1rem;
	}
}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {
	.et-navigation {
		height: auto;
	}
	.et-floating-hamburger { 
		display: none;
	}
	/* horizontal */
	.et-navigation:not(.mod-vertical) .et-nav-button ~ .et-nav-button {
		margin-left: 2rem;
	}
	/* vertical */
	.et-navigation.mod-vertical {
		width: 150px;
		padding: 1rem;
	}
	.et-navigation .nav-title:hover {
		text-shadow: 0 3px rgba(70, 70, 70, 0.5);
		transform: translateY(-3px);
	}
}
/* desktop */
@media screen and (min-width : 1220px) {
	.et-navigation {
		height: auto;
	}
	.et-floating-hamburger { 
		display: none;
	}
	.et-navigation:not(.mod-vertical) .et-nav-button ~ .et-nav-button {
		margin-left: 2rem;
	}
	.et-navigation.mod-vertical {
		width: 200px;
		padding: 2rem 0;
	}
	.et-navigation .nav-title:hover {
		text-shadow: 0 3px rgba(70, 70, 70, 0.5);
		transform: translateY(-3px);
	}
}