.navigation-component {
	flex: 0 0 auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	transition: transform 1s;
	z-index: 5;
	box-sizing: border-box;
}
.navigation-component .nav-title {
	color: white;
	font-size: 2rem;
	text-align: center;
	padding: 0 2rem;
	display: block;
}
/* vertical */
.floating-title-container + .floating-button-container {
	margin-top: 2rem;
}
.navigation-component.mod-vertical {
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 1rem;
}
.navigation-component.mod-vertical .nav-button-component ~ .nav-button-component,
.navigation-component.mod-vertical .floating-button-container ~ .floating-button-container {
	margin-top: 1rem;
}
/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {
	.navigation-component.mod-vertical.nav-open {
		transform: translateX(0);
	}
	.navigation-component.mod-vertical.nav-closed {
		transform: translateX(-95%);
	}
	.navigation-component:not(.mod-vertical) {
		align-items: center;
		flex-direction: column;
	}
	.navigation-component:not(.mod-vertical) .nav-button-component ~ .nav-button-component,
	.navigation-component:not(.mod-vertical) .floating-button-container ~ .floating-button-container {
		margin-top: 1rem;
	}
	.navigation-component.mod-vertical {
		position: absolute;
		left: 0;
		top: 0;
		width: 150px;
	}
}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {
	.et-floating-hamburger { 
		display: none;
	}
	/* horizontal */
	.navigation-component:not(.mod-vertical) .nav-button-component ~ .nav-button-component,
	.navigation-component:not(.mod-vertical) .floating-button-container ~ .floating-button-container {
		margin-left: 2rem;
	}
	/* vertical */
	.navigation-component.mod-vertical {
		width: 150px;
	}
}
/* desktop */
@media screen and (min-width : 1220px) {
	.et-floating-hamburger { 
		display: none;
	}
	.navigation-component:not(.mod-vertical) .nav-button-component ~ .nav-button-component,
	.navigation-component:not(.mod-vertical) .floating-button-container ~ .floating-button-container {
		margin-left: 2rem;
	}
	.navigation-component.mod-vertical {
		min-width: 200px;
		padding: 2rem 0;
	}
}