.et-navigation.mod-splash-nav {
	width: 100%;
}
.et-navigation.mod-splash-nav .et-navigation__menu {
	display: flex;
	height: auto;
}
/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {
	.et-navigation.mod-splash-nav {    	
    	position: fixed;
    	bottom: 10px;
	}
	.et-navigation.mod-splash-nav .et-navigation__menu {
	    flex-direction: row;
	}
}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {
	.et-navigation.mod-splash-nav {
		position: relative;
	}
	.et-navigation.mod-splash-nav .et-navigation__menu {
		flex-direction: column;
    	
		position: absolute;
		top: -20px;
    	top: 20vw;
	    right: 19%;
	}
	.et-navigation.mod-splash-nav .et-nav-button + .et-nav-button {
		margin-top: 10px;
	}
}
/* desktop */
@media screen and (min-width : 1220px) {
	.et-navigation.mod-splash-nav {
		position: relative;
	}
	.et-navigation.mod-splash-nav .et-navigation__menu {
    	flex-direction: column;

		position: absolute;
    	top: 16rem;
    	left: 53rem;
	}
	.et-navigation.mod-splash-nav .et-nav-button + .et-nav-button {
		margin-top: 10px;
	}
}