.et-main {
	display: flex;
	flex-direction: row;
}
.et-page {
	flex: 1 1 auto;
}
.et-page__inner {
	flex: 1 1 auto;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	
    max-height: 100vh;
    overflow: auto;
    box-sizing: border-box;
}

.projects-page {
	z-index: 0;
	flex: 1 1 auto;
	width: 100%;

	box-sizing: border-box;
	max-height: 100vh;
	overflow: auto;
}
.et-page__title {
	font-size: 2rem;
    text-transform: capitalize;
}

/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {
	.et-page__inner {
		padding: 2rem;
	}
	.et-page__title {
	    margin-left: 3rem;
	    padding: 1rem;
	}
}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {
	.et-page__inner {
		padding: 2rem;
	}
	.et-page__title + .et-page {
		margin-top: 1rem;
	}
}
/* desktop */
@media screen and (min-width : 1220px) {
	.et-page__inner {
		padding: 2rem;
	}
	.et-page__title + .et-page {
		margin-top: 1rem;
	}
}