.et-main {
	display: flex;
	flex-direction: row;
}
.et-page {
	flex: 1 1 auto;
}
.et-page__content-container {
	margin-top: 1rem;
}
.et-page__inner {
	flex: 1 1 auto;
	padding: 20px;
    box-sizing: border-box;

	display: flex;
	flex-direction: column;
	
	background-color: white;
    height: 100vh;
}

.projects-page {
	z-index: 0;
	flex: 1 1 auto;
	width: 100%;

	box-sizing: border-box;
	max-height: 100vh;
	overflow: auto;
}
.et-page__title {
	font-size: 2rem;
    text-transform: capitalize;
    flex: 0 0 auto;
}

/* phone */
@media screen and (min-width : 0) and (max-width : 760px) {
	.et-page__inner {
		padding: 2rem;
		overflow-x: hidden;
	    overflow-y: scroll;
	    	-webkit-overflow-scrolling: touch;
	}
	.et-page__title {
	    margin-left: 3rem;
	}
}
/* tablet */
@media screen and (min-width : 760px) and (max-width : 1220px) {
	.et-page__inner {
		padding: 2rem;
		overflow: auto;
	}
	.et-page__title + .et-page__content-container {
		margin-top: 1rem;
	}
}
/* desktop */
@media screen and (min-width : 1220px) {
	.et-page__inner {
		padding: 2rem;
		overflow: auto;
	}
	.et-page__title + .et-page__content-container {
		margin-top: 1rem;
	}
}