.project-item {
	background: white;
	box-sizing: border-box;
	border: 2px solid white;
	color: black;

	margin: 10px;

	width: 250px;
	height: 175px;
	position: relative;
}
.project-item__image {
	width: 100%;
	z-index: -1;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.project-item.selected {
	border: 2px solid darkgray;
}