.projects-page {
	z-index: 0;
	flex: 1 1 auto;
	width: 100%;
	padding: 2rem;

	box-sizing: border-box;
	max-height: 100vh;
	overflow: auto;
}
.project-page-title {
	font-size: 2rem;
    text-transform: capitalize;
    margin-left: 3rem;
}
.project-list {
	flex: 1 1 auto;

	padding: 0;
	margin: 0;
	list-style: none;
	// overflow: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.project-page-title + .project-list {
	margin-top: 2rem;
}