.project-item {
	background: white;
	box-sizing: border-box;
	border: 2px solid white;
	color: black;

	margin: 10px;

	width: 250px;
	height: 175px;
}
.project-item.selected {
	border: 2px solid darkgray;
}