/* project item */
.project-item {
	background: white;
	box-sizing: border-box;
	border: 2px solid white;
	color: black;
	overflow: hidden;

	margin: 10px;
	width: 500px;
	height: 150px;
	position: relative;

	display: flex;
	flex-direction: column;
}
.project-item.selected {
	flex: 0 0 auto;
	border: 2px solid darkgray;
}
/* image */
.project-item__image {
	flex: 1 1 auto;
	width: 100%;
}
/* info */
.project-item__info {
	color: white;
	font-family: 'Convergence', sans-serif;

	flex: 0 0 auto;
	width: 100%;
	padding: 1rem;
	z-index: 1;

	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
}
.project-item:hover .project-item__info:before {
	transform: translateX(0);
}
.project-item__info:before {
	width: 130%;
	position: absolute;
	left: -15%;
	bottom: 0;
	top: 0;

	background: rgba(0, 0, 0, 0.4);
	border-radius: 100px;
	content: "";
	z-index: -1;

	transform: translateX(-100%);
	transition: transform 700ms;
}
/* info name and description*/
.project-item__info__name {
	font-size: 1rem;
}
.project-item__info__name,
.project-item__info__description {
	opacity: 0;
	transition: opacity 700ms;
}
.project-item:hover .project-item__info__name,
.project-item:hover .project-item__info__description {
	opacity: 1;
}