.projects-page {
	overflow: auto;
	flex: 1 1 auto;
	width: 100;
	height: 100%;
	padding: 2rem;
}
.project-page-title {
	font-size: 2rem;
    text-transform: capitalize;
}
.project-list {
	flex: 1 1 auto;

	padding: 0;
	margin: 0;
	list-style: none;
	overflow: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
