.et-social-media {
	margin-top: 1rem; 

	display: flex;
	flex-direction: row;
	min-height: 1px;
	height: auto;

	justify-content: center;
}
.et-social-media__item {
	flex: 0 0 auto;
	font-size: 2.2rem;

	color: gray;
}
.et-social-media__item:hover {
	color: lightgray;
	transform: translateY(-5%);
}