.et-color {
	color: #5073ad;
}
.projects-color {
	color: #2b9a3f;
}
.games-color {
	color: orange;
}
.about-color {
	color: #db7ee4;
}

.et-border-color {
	border-color: #5073ad;
}
.projects-border-color {
	border-color: #2b9a3f;
}
.games-border-color {
	border-color: orange;
}
.about-border-color {
	border-color: #db7ee4;
}

.projects-background-color {
	background-color: #2b9a3f;
}
.games-background-color {
	background-color: orange;
}
.about-background-color {
	background-color: #db7ee4;
}

#root {
	color: #5073ad;
	background: white;
	width: 100%;
	height: 100vh;
	font-family: arial, sans-serif;
	font-size: 10px;
}

/* css reset */
a {
	text-decoration: none;
}
body {
	margin: 0;
}
button {
	padding: 0;
	border-style: initial;
}
h1, h2 {
	margin: 0;
}
a.href-link:visited {
	color: #79c7e0;
}
a.href-link {
	color: lightblue;
}
a.href-link:hover {
	color: #afd5e0;
}
