
#root {
	background: #5073ad;
	width: 100%;
	height: 100vh;

	color: white;
	font-family: arial, sans-serif;
	font-size: 10px;
}

/* css reset */
body {
	margin: 0;
}
button {
	padding: 0;
	border-style: initial;
}
h1, h2 {
	margin: 0;
}