/*
	Color Scheme
	
	#262833
	#A262A6
	#D98C77
	#e2be51
	#B4FFE6

*/

.et-color {
	color: #262833;
}
.projects-color {
	color: #A262A6;
}
.games-color {
	color: #D98C77;
}
.about-color {
	color: #e2be51;
}

.et-border-color {
	border-color: #262833;
}
.projects-border-color {
	border-color: #A262A6;
}
.games-border-color {
	border-color: #D98C77;
}
.about-border-color {
	border-color: #e2be51;
}

.projects-background-color {
	background-color: #A262A6;
}
.games-background-color {
	background-color: #D98C77;
}
.about-background-color {
	background-color: #e2be51;
}

#root {
	width: 100%;
	height: 100vh;
	
	color: white;
	background: #5073ad;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
}

/* css reset */
a {
	text-decoration: none;
}
body {
	margin: 0;
}
button {
	padding: 0;
	border-style: initial;
}
h1, h2 {
	margin: 0;
}
a.href-link:visited {
	color: #79c7e0;
}
a.href-link {
	color: lightblue;
}
a.href-link:hover {
	color: #afd5e0;
}
